@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#fc466b,#3f5efb);
}

form{
    width: 25rem;
    height: 43rem;
    flex-direction: column;
    display: flex;
    background-color: rgba(255,255,255,0.06);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
    border-radius: 30px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
}

h1{
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px,2px,4px rgba(0, 0, 0, .2);
    letter-spacing: 3px;
    margin-bottom: 20px;
    opacity: .7;
}

label{
    font-size: 20px;
    color: white;
    margin-left: 10%;
    opacity: .7;
    margin-bottom: 2px;
    text-shadow: 2px,2px,4px rgba(0, 0, 0, .2); 
}

input{
    width: 80%;
    margin: 5% auto;
    margin-bottom: 5%;
    border: none;
    outline: none;
    background: transparent;
    color: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    opacity: .7;

}
.button{
    width: 50%;
    margin: 3% auto;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    
    background: rgba(255, 255, 255, 0.06);
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-shadow: 2px,2px,4px rgba(0, 0, 0, .2); 
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
}

a{
    font-size: 17px;
    text-align: center;
    color: white;
    
}